In [1]:
import pandas as pd
import numpy as np

Read the data for users in the first file, to create the dataframe

In [44]:
df_users = pd.read_csv("data/datasets_full/genuine_accounts/users.csv")
df_users["bots"] = 0
df_users.head()
df_users.shape

(3474, 43)

Create list of all the other files from which I want to read user's data. Then append data from each of these files into the dataframe created above.

In [45]:
user_files = ["fake_followers", "social_spambots_1", "social_spambots_2", "social_spambots_3", 
              "traditional_spambots_1", "traditional_spambots_2", "traditional_spambots_3", "traditional_spambots_4"]

In [46]:
for i in user_files:
    df_temp = pd.read_csv("data/datasets_full/" + i + "/users.csv")
    df_temp["bots"] = 1
#     print (i, df_temp.shape)
    df_users = df_users.append(df_temp, ignore_index=True)
#     print (df_users.shape)
# print (df_users.shape)

/usr/share/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

Exclude columns "test_set_1", "test_set_2", which are not useful to our work, and is not consistently present in all files

In [47]:
df_users = df_users.drop(["test_set_1", "test_set_2"], axis = 1)
df_users.shape

(14368, 41)

In [48]:
df_users.head()

,bots,contributors_enabled,crawled_at,created_at,default_profile,default_profile_image,description,favourites_count,follow_request_sent,followers_count,...,profile_use_background_image,protected,screen_name,statuses_count,time_zone,timestamp,updated,url,utc_offset,verified
0,0,NaN,2015-05-02 06:41:46,Tue Jun 11 11:20:35 +0000 2013,NaN,NaN,15years ago X.Lines24,265,NaN,208,...,NaN,NaN,0918Bask,2177,NaN,2013-06-11 13:20:35,2016-03-15 15:53:47,NaN,NaN,NaN
1,0,NaN,2015-05-01 17:20:27,Tue May 13 10:37:57 +0000 2014,1.0,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),3972,NaN,330,...,1.0,NaN,1120Roll,2660,Tokyo,2014-05-13 12:37:57,2016-03-15 15:53:48,NaN,32400.0,NaN
2,0,NaN,2015-05-01 18:48:28,Wed May 04 23:30:37 +0000 2011,NaN,NaN,Let me see what your best move is!,1185,NaN,166,...,1.0,NaN,14KBBrown,1254,Eastern Time (US & Canada),2011-05-05 01:30:37,2016-03-15 15:53:48,NaN,-14400.0,NaN
3,0,NaN,2015-05-01 13:55:16,Fri Sep 17 14:02:10 +0000 2010,NaN,NaN,20. menna: #farida #nyc and the 80s actually y...,60304,NaN,2248,...,1.0,NaN,wadespeters,202968,Greenland,2010-09-17 16:02:10,2016-03-15 15:53:48,http://t.co/rGV0HIJGsu,-7200.0,NaN
4,0,NaN,2015-05-02 01:17:32,Fri Feb 06 04:10:49 +0000 2015,1.0,NaN,Cosmetologist,5,NaN,21,...,1.0,NaN,191a5bd05da04dc,82,NaN,2015-02-06 05:10:49,2016-03-15 15:53:48,NaN,NaN,NaN

In [49]:
df_users.describe()

,bots,contributors_enabled,default_profile,default_profile_image,favourites_count,follow_request_sent,followers_count,following,friends_count,geo_enabled,id,is_translator,listed_count,notifications,profile_background_tile,profile_use_background_image,protected,statuses_count,utc_offset,verified
count,14368.000000,0.0,4511.0,78.0,14368.000000,0.0,1.436800e+04,0.0,14368.000000,3433.0,1.436800e+04,1.0,14368.000000,0.0,5501.0,12845.0,78.0,14368.000000,5350.000000,11.0
mean,0.758213,NaN,1.0,1.0,1145.288280,NaN,8.682774e+02,NaN,589.318834,1.0,1.121055e+09,1.0,11.173998,NaN,1.0,1.0,1.0,5063.190910,-6071.046729,1.0
std,0.428181,NaN,0.0,0.0,6036.894173,NaN,2.688472e+04,NaN,2665.832959,0.0,9.901599e+08,NaN,266.966297,NaN,0.0,0.0,0.0,17493.409898,18859.405855,0.0
min,0.000000,NaN,1.0,1.0,0.000000,NaN,0.000000e+00,NaN,0.000000,1.0,6.780330e+05,1.0,0.000000,NaN,1.0,1.0,1.0,0.000000,-39600.000000,1.0
25%,1.000000,NaN,1.0,1.0,0.000000,NaN,6.000000e+00,NaN,42.000000,1.0,1.950380e+08,1.0,0.000000,NaN,1.0,1.0,1.0,31.000000,-18000.000000,1.0
50%,1.000000,NaN,1.0,1.0,0.000000,NaN,2.500000e+01,NaN,250.000000,1.0,6.178160e+08,1.0,0.000000,NaN,1.0,1.0,1.0,63.000000,-14400.000000,1.0
75%,1.000000,NaN,1.0,1.0,9.000000,NaN,3.320000e+02,NaN,538.000000,1.0,2.354045e+09,1.0,3.000000,NaN,1.0,1.0,1.0,1365.250000,10800.000000,1.0
max,1.000000,NaN,1.0,1.0,313954.000000,NaN,2.991573e+06,NaN,211890.000000,1.0,4.331280e+09,1.0,24348.000000,NaN,1.0,1.0,1.0,399555.000000,46800.000000,1.0

In [50]:
df_users.shape

(14368, 41)

We kept the variables that might have explanatory power, and/or have enought information that would be useful for our models. Many of the excluded variables did not have enough information to be useful (mostly NaNs). Others did not seem contribute at all for identifying fake tweets, for example the date in which the account was created (although we find useful the informatoin on the date in which the tweets are created, and we kept the latter).

In [51]:
users_features_to_keep = ["favourites_count", "followers_count", "friends_count", "id", "listed_count", "statuses_count", "bots"]

In [52]:
df_users_clean = df_users[users_features_to_keep]
df_users_clean.rename(columns={'id': 'user_id'}, inplace=True)
df_users_clean.describe()

,favourites_count,followers_count,friends_count,user_id,listed_count,statuses_count,bots
count,14368.000000,1.436800e+04,14368.000000,1.436800e+04,14368.000000,14368.000000,14368.000000
mean,1145.288280,8.682774e+02,589.318834,1.121055e+09,11.173998,5063.190910,0.758213
std,6036.894173,2.688472e+04,2665.832959,9.901599e+08,266.966297,17493.409898,0.428181
min,0.000000,0.000000e+00,0.000000,6.780330e+05,0.000000,0.000000,0.000000
25%,0.000000,6.000000e+00,42.000000,1.950380e+08,0.000000,31.000000,1.000000
50%,0.000000,2.500000e+01,250.000000,6.178160e+08,0.000000,63.000000,1.000000
75%,9.000000,3.320000e+02,538.000000,2.354045e+09,3.000000,1365.250000,1.000000
max,313954.000000,2.991573e+06,211890.000000,4.331280e+09,24348.000000,399555.000000,1.000000

In [53]:
df_users_clean.shape

(14368, 7)