In [1]:
import tweepy

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

import pandas as pd

In [2]:
consumer_key = 
consumer_secret =
access_token = 
access_token_secret =

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [4]:
def make_tweet_df(api, users=list, num_status=20, path='data/'):
    """
    """
    json_vars = ['created_at', 'id', 'text', 'entities', 'source',
                 'in_reply_to_status_id', 'user', 'geo', 'place',
                 'retweet_count', 'favorite_count', 'favorited', 'lang']
    
    sub_tags = ['entities', 'user', 'place']
    
    entities_tag = ['hashtags', 'urls']
    
    user_tag = ['id', 'name', 'screen_name', 'location', 'url',
                'protected', 'followers_count', 'friends_count',
                'created_at', 'geo_enabled', 'verified', 'lang']
    
    place_tag = ['id', 'place_type', 'name', 'country_code']
    
    col_names = ['created_at', 'id', 'text', 'hashtags', 'urls', 'source',
                 'in_reply_to_status_id', 'usr_id', 'usr_name', 'screen_name',
                 'usr_location', 'usr_url', 'protected', 'followers_count', 
                 'friends_count', 'usr_created', 'geo_enabled', 'verified',
                 'usr_lang', 'geo','id', 'place_type', 'name', 'country_code',
                 'retweet_count', 'favorite_count', 'favorited', 'lang']
    
    data = []
    users = list(users)
    
    for u in users:
        
        try:
            stats = api.user_timeline(u, count=num_status)
        except tweepy.TweepError:
            print('Error occured with users: {:s}, ignoring...'.format(u))
#             print(tweepy.TweepError.response.text)
        
        for s in stats:
            data_row = []
            
            for j in json_vars:
                if j in sub_tags:
                    if j == sub_tags[0]:
                        
                        for e in entities_tag:
                            if e==entities_tag[0]:
                                data_row.append(get_hashtags(s._json[j][e]))
                            else:
                                data_row.append(get_urls(s._json[j][e]))
                        
                    elif j == sub_tags[1]:
                        
                        for usr in user_tag:
                            data_row.append(s._json[j][usr])
                        
                    else:
                        if s._json[j]:
                            for p in place_tag:
                                data_row.append(s._json[j][p])
                        else:
                            for p in place_tag:
                                data_row.append(np.nan)
                    
                else:
                    data_row.append(s._json[j])
            
            data.append(data_row)
            
    df = pd.DataFrame(data, columns=col_names)
    
    final_num_ppl = len(df.usr_name.unique())
    num_tweets = len(df)
    
    print('Finished, dataframe with {:d} tweets from {:d} users created'.format(num_tweets,final_num_ppl))
    
    return df

In [5]:
def get_hashtags(tag_dict):
    tags = []
    for i in range(len(tag_dict)):
        tags.append(tag_dict[i]['text'])
    return tags

def get_urls(url_dict):
    urls = []
    for i in range(len(url_dict)):
        urls.append(url_dict[i]['expanded_url'])
    return urls

In [6]:
top_100 = pd.read_csv('top_100.csv')
top_100.head()

             id
0    @katyperry
1   @aamir_khan
2  @ActuallyNPH
3        @Adele
4  @akshaykumar

In [7]:
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [8]:
df = make_tweet_df(api=api, users=top_100.id)
df.head()

Error occured with users: @ddlovato, ignoring...
Finished, dataframe with 1982 tweets from 99 users created

,created_at,id,text,hashtags,urls,source,in_reply_to_status_id,usr_id,usr_name,screen_name,...,usr_lang,geo,id,place_type,name,country_code,retweet_count,favorite_count,favorited,lang
0,Sat Apr 27 22:03:06 +0000 2019,1122259906290077696,if i move like molasses on stage today it’s ca...,[],[https://twitter.com/i/web/status/112225990629...,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,21447363,KATY PERRY,katyperry,...,en,"{'type': 'Point', 'coordinates': [29.98361682,...",dd3b100831dd1763,city,New Orleans,US,357,2514,False,en
1,Sat Apr 27 17:54:00 +0000 2019,1122197215190056961,Oh Happy Day! See you at #jazzfest at 5:40 on ...,[jazzfest],[https://www.instagram.com/p/BwxJfnIn3V8/?utm_...,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,21447363,KATY PERRY,katyperry,...,en,"{'type': 'Point', 'coordinates': [29.98361682,...",dd3b100831dd1763,city,New Orleans,US,464,3629,False,en
2,Sat Apr 27 06:14:23 +0000 2019,1122021151113392128,always takes the road less traveled... @ New O...,[],[https://www.instagram.com/p/Bwv5_zPn1dD/?utm_...,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,21447363,KATY PERRY,katyperry,...,en,"{'type': 'Point', 'coordinates': [29.96496435,...",dd3b100831dd1763,city,New Orleans,US,500,4672,False,en
3,Fri Apr 26 18:48:27 +0000 2019,1121848533231923200,"And so we will tomorrow, no doubt ✨\n#jazzfest...",[jazzfest],[https://www.instagram.com/p/BwurglpnIXl/?utm_...,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,21447363,KATY PERRY,katyperry,...,en,"{'type': 'Point', 'coordinates': [29.98361682,...",dd3b100831dd1763,city,New Orleans,US,512,4491,False,en
4,Thu Apr 25 22:40:28 +0000 2019,1121544533802725376,I’m here for @instagram retiring the like butt...,[],[],"<a href=""http://twitter.com/download/iphone"" r...",NaN,21447363,KATY PERRY,katyperry,...,en,None,NaN,NaN,NaN,NaN,2434,28458,False,en

In [9]:
# To save df
# df.to_csv('data/top_100_data.csv', index=False)